<div class="block--articleBody | article-body{% if dropCap is defined %} -drop-cap{% endif %}{% if layoutClasses is defined %} | {{ layoutClasses }}{% endif %} | paragraphs -md -loose | article-content">
    {{ block.article }}
</div>