{% import '_macros/global' as global %}
<div class="block--buttonGroup button-group{% if layoutClasses is defined %} | {{ layoutClasses }}{% endif %} | pt-4 pb-14">
    {# Header #}
    {% if block.header|length %}
        <h3 class="header-lg font-serif mb-5 pt-10">{{ block.header }}</h3>
    {% endif %}
    
    {# Actions #}
    <div class="button-group__actions">
        {% for item in block.buttons.all() %}
            {{ global.link(item.button, 'btn -red -md')}}                
            {# Notes from lindsey: This needs a button style dropdown added to the super table. 
            I've manually styled it as a red button, but once that field is added, this macro can come back into play: #}
            {# {{ global.link(item.button, item.buttonStyle)}} #}
        {% endfor %}
    </div>
</div>