<div class="block--articleLead | article-content | paragraphs -lead{% if layoutClasses is defined %} | {{ layoutClasses }}{% endif %}">
    
    <h2>{{ block.header }}</h2>
    {{ block.description }}
    
</div>