{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}

{% block content %}

    <section
        class="space-menu">
        {# Placeholder Header Content #}
        {% set content = { title: 'Contact Us' } %}

        {# Page Header #}
        {% include "_components/static/page-header" with { content: content } %}</section>

    {# Contact Form #}
    <div class="container gutter | space-b" id="contact">
        {% include '_components/static/form-contact'  %}
    </div>

{% endblock %}
