{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% block content %}
    {# Header #}
    <section
        class="space-menu space-b">
        {# Placeholder Header Content #}
        {% set content = { title: 'Contact Us' } %}

        {# Page Header #}
        {% include "_components/static/page-header" with { content: content } %}</section>

    {# Content #}
    <div class="container--xs gutter-xl | space-b--lg" id="contact">

        {# Contact Form #}
        {% include '_components/form-contact'  %}
        
    </div>

    {# Billboard Newsletter #}
    {% include '_components/static/billboard--newsletter'  %}

{% endblock %}
