{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% block content %}

    <section class="space-menu">
        {# Page Header #}
        {# Placeholder content #}
        {% set content = { title: 'Events' } %}
        {% include "_components/static/page-header" with { content: content, classes: '-left' } %}
    </section>

    {# Featured  #}
    <div id="featured" class="container | space-b--sm">
        {# Content Card - Hero #}
        {% include '_components/static/content-hero--event' with { 'classes': '-red' } %}
    </div>

    {# Filters #}
    {% include "_components/static/filters-page" %}

    {# Topics List #}
    <div id="content" class="container--sm gutter-md | space-b">

        {# Content Card - Topic Types #}
        {# Templating Notes: Run a switch statement
            on the entry type to build logic for which card to include, handling
            conditional elements like event meta vs podcast show, author, podcast
            player, video button+player, icons, etc. #}

        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}
        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}
        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}
        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}
        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}

    </div>

    <div id="request-a-speaker" class="space-b">
        {# Text Billboard - placeholder content#}
        {% set content = { 
            header: 'Bring 1517 to your city',
            detail: '<p>Invite a speaker to your community! Their goal is to proclaim the good news of the Gospel through their specific field
            and area of expertise. We would love the opportunity to speak to your church, conference or class.</p>',
            buttons: 'link -underline -light', 
            action: 'Request a speaker',
            image: '/assets/placeholder/placeholder_08.jpg'
        }%}
        {# Text Billboard - basic #}
        {% include '_components/static/billboard--text' with { classes: '-image-left -bronze-light', content: content } %}
    </div>

    {# Topics List #}
    <div id="content" class="container--sm gutter-md | space-b">
    
        {# Content Card - Topic Types #}
        {# Templating Notes: Run a switch statement
                on the entry type to build logic for which card to include, handling
                conditional elements like event meta vs podcast show, author, podcast
                player, video button+player, icons, etc. #}
    
        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}
        {# Event #}
        {% include '_components/static/content-card--event' with { 'classes': '' } %}
    
    </div>

{% endblock %}