{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %} 
{% block content %}

    <section class="space-menu">
        {# Page Header #}
        {# Placeholder content #}
        {% set content = { title: 'Podcasts', detail: '
        <p>
            1517 Podcasts is a network of shows dedicated to delivering
            Christ-centered content through weekly, monthly, and seasonal audio
            platforms. Listen online every day of the week, or on your favorite
            podcasting app.
        </p>
        ' } %} 
        {% include "_components/static/page-header" with { content: content } %}
    </section>

    {# Topics List #}
    <div id="podcasts" class="container--sm gutter-md | md:flex-grid | space-b--sm">
        {# Latest Cards #}
        <div class="flex-grid">
            {# Content Card - Stacked #} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %} 
            {% include '_components/static/content-card--basic' with { 'classes': '' } %}
        </div>
    </div>

    <div id="advertise" class="">
        {# Text Billboard - placeholder content#}
        {% set content = { 
                    header: 'Advertise with 1517',
                    detail: '<p>At 1517 Podcasts, we partner with brands to craft ad campaigns that resonate with listeners. We are listener centered,
                    and we take pride in collaborating with brands that our audience will care about.</p>',
                    buttons: 'btn -light', 
                    action: 'Get in Touch'
                }%}
        {# Text Billboard - basic #}
        {% include '_components/static/billboard--text' with { classes: '-sage', content: content } %}
    </div>

{% endblock %}
