{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %} 
{% block content %}

    {# search query #}
    {% set searchQuery = craft.app.request.getParam('q') %}

    {# section logic #}
    {% set allSections = craft.sections.getAllSections() %}
    {% set sections = [] %}
    {% for section in allSections %}
        {% if section.type == 'channel' and section.handle != 'authors' %}
            {% set sections = sections|merge([section]) %}
        {% endif %}
    {% endfor %}

    {# topics query #}
    {% set topics = craft.categories().group('topics').all() %}

    {# authors query #}
    {% set authors = craft.entries.section('authors').all() %}

    {# entries query #}
    {% set entries = craft.entries()
        .search(searchQuery)
        .section(sections|join(','))
        .all() %}

    {# count #}
    {% set count = entries|length %}

    <section class="space-menu ">        
        <div class="space-b--sm">
            {# Search Form #}
            {% include "_components/static/form-search" %}
        </div>
        {# Filters #}
        {% include "_components/static/filters-page" %}
    </section>

    {# Topics List #}
    <div id="content" class="container--sm gutter-md | space-b">

        {% if entries|length %}
            {% for entry in entries %}
                {% include "_components/content-cards" with { content: entry } %}
            {% endfor %}
        {% else %}
            <p>Sorry, your search didn't match any results.</p>    
        {% endif %}
        
    </div>

{% endblock %}
