{% extends "_layouts/base" %} 
{% import '_macros/global' as global %} 
{% block content %} 

    <section class="space-menu ">        
        <div class="space-b--sm">
            {# Search Form #}
            {% include "_components/form-search" %}
        </div>
        {# Filters #}
        {% include "_components/static/filters-page" %}
    </section>

    {# Topics List #}
    <div id="content" class="container--sm gutter-md | space-b">

        {% set searchQuery = craft.app.request.getParam('q') %}

        {% set entries = craft.entries()
            .search(searchQuery)
            .all() %}

        {% if entries|length %}
            {% for entry in entries %}
                {% include "_components/content-cards" with { content: entry } %}
            {% endfor %}
        {% else %}
            <p>Sorry, your search didn't match any results.</p>    
        {% endif %}
        
    </div>

{% endblock %}
