{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %} 
{% block content %} 

    <section class="space-menu ">        
        <div class="space-b--sm">
            {# Search Form #}
            {% include "_components/static/form-search" %}
        </div>
        {# Filters #}
        {% include "_components/static/filters-page" %}
    </section>

    {# Topics List #}
    <div id="content" class="container--sm gutter-md | space-b">

        {# Get the user's search query from the 'q' query-string param #}
        {% set searchQuery = craft.app.request.getParam('q') %}

        <p>Your search: {{ searchQuery }}</p>

        {# Fetch entries that match the search query #}
        {% set results = craft.entries()
            .search(searchQuery)
            .all() %}

        {% for entry in results %}
            {% include "_components/content-cards" with {content: entry } %}
        {% endfor %}

        
    </div>

{% endblock %}
