{% extends "_layouts/_styleguide" %}
{% set menu = { 
    layouts: [
        { 
            name: "Home (mostly static)", 
            url: "/static/home" 
        },{ 
            name: "Category Section Index", 
            url: "/static/category-section-index" 
        },{ 
            name: "Topics Landing", 
            url: "/static/category-topic-landing" 
        },{ 
            name: "Topics List", 
            url: "/topics" 
        },{
            name: "Podcast Index", 
            url: "/static/podcast-index" 
        }
    ]} 
%} 
{% block content %}

<div id="template-list" class="md:w-3/5 mx-auto | space-b--lg">
    <header class="space-b--sm">
        <h2 class="header-xl ">Static Templates</h2>
    </header>
    
    {# List #}
    <ul class="list-articles">
        {% for item in menu.layouts %} 

            {# Item #}
            <li class="list-article">
                <div class="list-article__content">
                    {# Header #}
                    <h3 class="header-xs ">
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </h3>
                </div>
            </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}