{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% set format = craft.app.request.getParam('format') %}
{% set author = craft.app.request.getParam('author') %}

{# full lists for drop downs #}
{% set allSections = craft.app.sections.allSections %}
{% set sections = [] %}
{% for section in allSections %}
    {% if section.type == 'channel' and section.handle != 'authors' %}
        {% set sections = sections|merge([section]) %}
    {% endif %}
{% endfor %}
{% set authors = craft.entries.section('authors').orderBy('firstName asc').all() %}

{# apply sections #}
{% set sectionFilter = format ?: sections|join(',') %}

{# build out relationships #}
{% set authorCat = author ? craft.entries.section('authors').id(author).first %}
{% set authorParam = authorCat ? { targetElement: authorCat, field: 'authorLink' } %}
{% set relationParams = [{ targetElement: category }, authorParam]|filter %}

{% set entries = craft.entries({
    section: sectionFilter,
    orderBy: 'postDate desc',
    relatedTo: ['and']|merge(relationParams)
}) %}

{% set pageLimit = 5 %}
{% paginate entries.limit(pageLimit) as pageInfo, pageEntries %}
{% set count = pageInfo.total %}

{% if pageInfo.nextUrl %}
    {% set nextUrl = url(pageInfo.nextUrl, {
        format: format,
        author: author
    }) %}
{% endif %}

{% block content %}

    {# Page Header #}
    <section class="space-menu ">
        {# Page Header Content #}
        {% set content = { 
                title: category.title, 
                category: 'Topic', 
                detail: category.shortDescription,
                image: category.cardImage.one(),
                action: category.headerAction
            }
        %} 
        {# Page Header - Action #}
        {% include "_components/page-header--action" with { content: content } %}
    </section>

    <div id="filters" class="container">
        {# Filters #}
        {% include "_components/filters-page" %}
    </div>

    <div id="related" class="page-entries container--sm gutter-md | md:flex-grid | space-b--sm">
        
    {% if count > 0 %}

        {# Sections #}    
        {% for entry in pageEntries %}
            {# Content Card - Stacked #}
            {% include '_components/content-cards' with { content: entry } %}
        {% endfor %}

        {% include "_components/pagination" %}

    {% else %}

        {# No Entries #}
        <div class="text-center space-b">
        {% if format or author %}
           There are no entries that match the filters you've selected. 
        {% else %}
            There are no entries for this Topic.  
        {% endif %}
        </div>

    {% endif %}

    </div>

{% endblock %}