{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% block content %}

<section class="space-menu | container gutter | space-b | no-print">

    {% set pageHeaderContent = { 
        title: entry.header
    } %} 
    {% include "_components/page-header" with { content: pageHeaderContent } %}

    {% set percentage = entry.amountRaised / entry.goal * 100 %}

    {% set daysLeft = 0 %}
    {% set today = date('now' | date('Y/m/d')) %}
    {% set endDate = date(entry.endDate | date('Y/m/d')) %}
    {% if endDate > today %}
        {% set difference = endDate.diff(today) %}
        {% set daysLeft = difference.days %}
    {% endif %}

    {% include "_components/donation-metrics"
        with {
            percentage: percentage | number_format(0, '.', ','),
            amountRaised: entry.amountRaised | number_format(0, '.', ','),
            amountGoal: entry.goal | number_format(0, '.', ','),
            daysLeft: daysLeft,
            copy: "Your gift today enables us to proclaim the free gift of the Gospel of Christ to more people in more ways this year and for many more to come"
        }
    %}

    <div class="container--xs gutter">
        {{ entry.embed }}
    </div>

</section>

{% endblock %}