{% extends "_layouts/base" %}
{% import '_macros/global' as global %}
{% set entries = craft.entries.section('videos') %}
{% set pageLimit = 5 %}
{% paginate entries.limit(pageLimit) as pageInfo, pageEntries %}

{% if pageInfo.nextUrl %}
    {% set nextUrl = url(pageInfo.nextUrl) %}
{% endif %}
{% if pageInfo.prevUrl %}
    {% set prevUrl = url(pageInfo.prevUrl) %}
{% endif %}


{% block content %}

    <section class="space-menu">

        {# Page Header #}
        {% set pageHeaderContent = { 
            title: entry.title, 
            detail: entry.shortDescription,
            action: entry.headerAction
            }
        %} 
        {% include "_components/page-header" with { content: pageHeaderContent } %}

    </section>

    {# Topics List #}
    {% if pageEntries|length > 0 %}


        <div id="videos" class="container--sm gutter-md | md:flex-grid | space-b--sm">
            {% for entry in pageEntries %}
                {% include '_components/content-card--video' with { content: entry, 'classes': '' } %}
            {% endfor %}
        </div>
        {% include "_components/pagination--static" %}

        {# Add inf pagination in the future (requires rewriting the Vimeo Vue Component) #}
        {# {% include "_components/pagination" %} #}
    
    {% else %}
        
        {# No Entries #}
        <div class="text-center space-b">
            There are no Videos available right now.  
        </div>

    {% endif %}
    

{% endblock %}
