[v-cloak] {
    display: none;
}

:root {
    --slate-darkest: #262626;
    --bronze: #baa188;
    --ivory-light-50: rgba(245, 241, 237, 0.5);
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

// -- Base
@import 'base/fonts';
@import 'base/typography';
@import 'base/general';
@import 'base/grid';
@import 'base/gutter';
@import 'base/transition';
@import 'base/space';
@import 'base/link';
@import 'base/button';
@import 'base/button--toggle';
@import 'base/align';
@import 'base/lazysizes';
@import 'base/image';
@import 'base/icon';
@import 'base/label';
@import 'base/position';
@import 'base/selection';
@import 'base/checkbox-radio';
@import 'base/toggle-text';
@import 'base/device';
@import 'base/drop-cap';
@import 'base/pagination';
// @import "base/blockquote";
// @import "base/video";
// @import "base/ornament";
// @import "base/pattern";
// @import "base/overflow";
// @import "base/modal";
// @import "base/range";

// -- Vendor
@import 'vendor/choices';
@import 'vendor/addthis';
@import 'vendor/tiny-slider';

// -- Components
// Menus
@import 'components/filter-bar';
@import 'components/items-bar';
@import 'components/menu-bar';
@import 'components/product-bar';
@import 'components/site-menu';
@import 'components/site-footer';

// Headers
@import 'components/page-header';
@import 'components/section-header';

// Content: Card, Hero
@import 'components/content-card';
@import 'components/content-hero';
@import 'components/content-card--stacked';
@import 'components/content-card--basic';
@import 'components/content-card--topic-types';
@import 'components/product-card';

// Content: Detail
@import 'components/entry-detail-layout';
@import 'components/product-detail-layout';
@import 'components/entry-footnote';
@import 'components/meta-summary-block';

// Lists
@import 'components/list-meta';
@import 'components/list-menu';
@import 'components/list-social';
@import 'components/list-podcast';
@import 'components/list-articles';
@import 'components/big-list';
@import 'components/list-bios';
@import 'components/list-assets';
@import 'components/list-syllabus';
@import 'components/list-events';
@import 'components/list-hover';

// Forms
@import 'components/form-base';
@import 'components/form-signup';
@import 'components/form-search';
@import 'components/form-purchase';
@import 'components/option-group';

// Billboards
@import 'components/billboard';
@import 'components/billboard--text';
@import 'components/billboard--floated-img';
@import 'components/billboard--subscribe';
@import 'components/billboard--courses';

// Players
// @import 'components/podcast-player-full';

// Articles
@import 'components/article-content';
@import 'components/longform-entry-blocks';

// --
// @import "components/headsup";
// @import "components/hcard";
// @import "components/gallery-stack";

// Cards
// @import "components/author-card";

// // Modals
// @import "components/profile-modal";
// @import "components/content-modal";

// // Sliders
// @import "components/slider";
// @import "components/profile-slider";
// @import "components/info-slider";
// @import "components/gallery-slider";

// .if-not-in-body-removed-by-purge {
//   @apply text-green;
// }
