
@media print {

    main {
        padding-top: 4rem;
    }

    // Hide things
    .no-print,
    .site-menu,
    .site-footer,
    .meta-list li  {
        display: none !important;
    }

    .meta-list li.display-print {
        display: block !important;
    }
}
 