{% import '_macros/global' as global %}

<div class="billboard -basic | {{classes}}">
    <div class="billboard__container container">
        
        <header class="billboard__content | gutter">
                <div class="billboard__detail">
                    <h4 class="header-sm header-lightweight"><strong>Freedom is rooted in the gospel of Christ.</strong> 1517 tells you stories you never heard before, shows you connections you never knew existed and the nuance and complexity of the world</h4>
                </div>
                <div class="billboard__action">

                    {{ global.link('', 'link -underline -light', 'Hear our Mission') }}
                    
                </div>
        </header>
    </div>
</div>