{% import '_macros/global' as global %}

{#

    Structure Content (cms editable):
    - billboard bg img (fades to color)
    - billboard bg color
    - billboard badge (logo)
    - Header
    - Description

    This form needs:
    - real image content from field (see notes below)
    - real prompt 'Detail' text ("enroll today…")
    ✅ validation (email valid, all fields required)
    ✅ integration w/ Craft User Registration form
    ✅ add users to Craft group: 'Courses Subscribers'
    ✅ add Mailchimp Craft plugin to add users to Mailchimp list

#}

<div class="billboard -courses | no-print" style="background-color: #10181B;">
    <header class="billboard__content | container gutter">
        <div class="billboard__content-inner | md:ml-0 mx-auto">

            {# Header #}
            <div class="billboard__header | md:pr-24">
                <h4 class="billboard-title | header-base">Enroll Now</h4>
            </div>

            {# Detail #}
            <div class="billboard__detail | md:pr-24 | paragraphs -sm | pt-2">
                <p>Subscribe to our newsletter and enroll today to view course content, take evaluation quizzes, and connect directly with Dr.
                    Mallison.</p>
            </div>

            {# Action #}
            <div class="billboard__action | md:pr-24 | pt-4">

                <div class="form-base | -bronze-fields">
                    
                    {# Registration Form #}
                    {% include '_components/form-register-for-course' %}

                </div>

            </div>  

            {# Course Badge #}
            <div class="billboard__badge | flex justify-center md:justify-end">
                <div class="w-full max-w-xxs ">
                    {# Note! This needs real content => #}
                    {{ global.image( '', '-is3x2 -fit-cover', '/assets/placeholder/logo_placeholder_01.png' )}}
                </div>
            </div>

        </div>

    </header>
    
    {# Note! This needs real content => #}
    <div class="billboard__media -bg" style="background:no-repeat top center/contain url(/assets/placeholder/hero_01.jpg)">
    </div>

</div>