<div class="page-filters flex-grid | container--sm gutter-md | space-b">

    <div class="page-filters__actions | md:w-1/2">

    </div>
    
    <div class="page-filters__meta | md:w-1/2 text-right">
        <div class="meta-header">248 Entries</div>
    </div>
</div>