{% import '_macros/global' as global %}
{% if header is defined %}
    <h2 class="text-white text-lg font-normal mb-2">{{ header }}</h2>
{% endif %}
<div class="signup-form{% if classes is defined %} | {{ classes }} {% endif %}">
    <form action="">
        <input type="text" class="email-input" placeholder="Email Address" />
        <button class="submit meta-label">Submit</button>
    </form>
</div>
