<header class="page-header | gutter-md space-t space-b--sm">
    <h1 class="header-xl font-serif">{{ content.title }}</h2>

    {% if content.detail|length %}
        <div class="page-header__detail | paragraphs -sm -loose">
            {{ content.detail | raw }}
        </div>
    {% endif %}
</header>