<ul class="list-articles | {{ classes }}">
    
    {# Item #}
    <li class="list-article">

        <div class="list-article__content">
            
            {# Header #}
            <h3 class="header-xs font-serif mb-4">
                <a href="#">Header H3 is a title about freedom</a>
            </h3>
            
            {# Meta #}
            <div class="content-card__meta | flex-grid">

                <div class="meta-label">
                    <a href="#">By Author Name</a>
                </div>
            
                <time class="meta-label" datetime="2019-03-19">03/19/2019</time>
                
            </div>
        </div>

    </li>  
    
    {# Item #}
    <li class="list-article">

        <div class="list-article__content">
            
            {# Header #}
            <h3 class="header-xs font-serif mb-4">
                <a href="#">Header H3 is a title about freedom</a>
            </h3>
            
            {# Meta #}
            <div class="content-card__meta | flex-grid">

                <div class="meta-label">
                    <a href="#">By Author Name</a>
                </div>
            
                <time class="meta-label" datetime="2019-03-19">03/19/2019</time>
                
            </div>
        </div>

    </li>  
    
    {# Item #}
    <li class="list-article">

        <div class="list-article__content">
            
            {# Header #}
            <h3 class="header-xs font-serif mb-4">
                <a href="#">Header H3 is a title about freedom</a>
            </h3>
            
            {# Meta #}
            <div class="content-card__meta | flex-grid">

                <div class="meta-label">
                    <a href="#">By Author Name</a>
                </div>
            
                <time class="meta-label" datetime="2019-03-19">03/19/2019</time>
                
            </div>
        </div>

    </li>  
    
    {# Item #}
    <li class="list-article">

        <div class="list-article__content">
            
            {# Header #}
            <h3 class="header-xs font-serif mb-4">
                <a href="#">Header H3 is a title about freedom</a>
            </h3>
            
            {# Meta #}
            <div class="content-card__meta | flex-grid">

                <div class="meta-label">
                    <a href="#">By Author Name</a>
                </div>
            
                <time class="meta-label" datetime="2019-03-19">03/19/2019</time>
                
            </div>
        </div>

    </li>  
    
    {# Item #}
    <li class="list-article">

        <div class="list-article__content">
            
            {# Header #}
            <h3 class="header-xs font-serif mb-4">
                <a href="#">Header H3 is a title about freedom</a>
            </h3>
            
            {# Meta #}
            <div class="content-card__meta | flex-grid">

                <div class="meta-label">
                    <a href="#">By Author Name</a>
                </div>
            
                <time class="meta-label" datetime="2019-03-19">03/19/2019</time>
                
            </div>
        </div>

    </li>  
    
</ul>