{% import '_macros/global' as global %}

{# Check for imported properties #}
{% if classes is defined %}
    {% set classes = classes %}
{% else %}
    {% set classes = '' %}
{% endif %}

<ul
    class="list-events | flex-grid | list-reset {{ classes }}">

    {# Placeholder Loop #}
    {% set content = [
                {},
                {},
                {},
                {}
            ]
        %}

    {% for entry in content %}
        <li class="list-event">
            <div class="list-event__container | flex-grid">
                <a
                    class="list-event__media" href="#">
                    {# Label #}
                    <h4 class="content-label -date -light -flush">
                        <div class="content-label__mo">Mar</div>
                        <div class="content-label__day">11</div>
                    </h4>

                    <div class="md:pl-6">
                        {{
                            global.image(
                                '',
                                '-is1x1 -fit-cover -hover-scale | rounded-full',
                                '/assets/placeholder/placeholder_03.png'
                            )
                        }}
                    </div>
                </a>

                <div class="list-event__content">
                    <a href="#">
                        <h3 class="header -sm font-serif | mb-2 mt-6">
                            Dr Adam Francisco
                        </h3>

                        <div class="meta-label text-slate-light mb-2">Birmingham, Mi</div>

                        <div class="list-event__detail | paragraphs -xs | mb-2">
                            <p>
                            Dr. Francisco will be the featured speaker at the annual men’s retreat on Sat March 16, for Our Shepherd Lutheran Church in Birmingham, MI.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
