<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">People</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
    </ul>
</li>

<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">People</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
    </ul>
</li>
<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">Society</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/culture"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Culture
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/government"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Government
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/holidays"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Holidays
            </a>
        </li>
    </ul>
</li>
<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">People</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
    </ul>
</li>
<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">People</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
    </ul>
</li>

<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">People</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
    </ul>
</li>
<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">People</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/refugees"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Refugees
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/boundaries"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Boundaries
            </a>
        </li>
    </ul>
</li>
<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">Society</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/culture"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Culture
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/government"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Government
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/holidays"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Holidays
            </a>
        </li>
    </ul>
</li>
<li class="menu-list__group | md:w-1/3 w-1/2">
    <h4 class="menu-list__group-name">Society</h4>
    <ul>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/culture"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Culture
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/government"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Government
            </a>
        </li>
        <li class="menu-list__item">
            <a
                href="http://1517org.test/topics/holidays"
                role="menuitem"
                aria-haspopup="false"
                tabindex="0"
                class="menu-list__link"
            >
                Holidays
            </a>
        </li>
    </ul>
</li>
