{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{# params #}
{% set topic = craft.app.request.getParam('topic') %}
{% set author = craft.app.request.getParam('author') %}

{# full lists for drop downs #}
{% set topics = craft.categories().group('topics').orderBy('title asc').all() %}
{% set authors = craft.entries.section('authors').orderBy('firstName asc').all() %}

{# build out relationships #}
{% set topicCat = topic ? craft.categories.group('topics').id(topic).one() %}
{% set authorCat = author ? craft.entries.section('authors').id(author).one() %}
{% set topicParam = topicCat ? { targetElement: topicCat } %}
{% set authorParam = authorCat ? { targetElement: authorCat, field: 'authorLink' } %}
{% set relationParams = [topicParam, authorParam]|filter %}

{# entries query #}
{% set entries = craft.entries({
    section: 'articles',
    orderBy: 'postDate desc',
    relatedTo: relationParams ? ['and']|merge(relationParams) : null
}) %}

{% set pageLimit = 5 %}
{% paginate entries.limit(pageLimit) as pageInfo, pageEntries %}

{% if pageInfo.nextUrl %}
    {% set nextUrl = url(pageInfo.nextUrl, {
        topic: topic,
        author: author
    }) %}
{% endif %}

{# count #}
{% set count = entries|length %}

{% block content %}

    <section class="space-menu">

        {# Page Header #}
        {% set pageHeaderContent = { 
            title: entry.title, 
            detail: entry.shortDescription,
            action: entry.headerAction
            }
        %} 
        {% include "_components/page-header" with { content: pageHeaderContent } %}

    </section>

    {# Filters #}
    {% include "_components/filters-page" %}

    {# Topics List #}
    {% if pageEntries|length %}
    
        <div id="articles" class="container--sm gutter-md | md:flex-grid | space-b--sm">
            {# Latest Cards #}
            <div class="page-entries flex-grid">
                
                {% for entry in pageEntries %}

                {% include '_components/content-cards' with { content: entry } %}

                {% endfor %}

            </div>
        </div>

        {% include "_components/pagination" %}
    
    {% else %}
        
        {# No Entries #}
        <div class="text-center space-b">
            There are no Articles available right now.  
        </div>

    {% endif %}
    
    {# Billboard #}
    {# {% if entry.showBillboardText %}
        
        <div id="advertise" class="">
            Billboard Content
            {% set billboardContent = { 
                    header: entry.billboardHeader,
                    description: entry.billboardDescription,
                    button: entry.billboardButton,
                    buttonStyle: entry.billboardButtonStyle,
                    background: entry.billboardBackground,
                }%}
            Text Billboard - text
            {% include '_components/billboard--text' with { classes: '-center', content: billboardContent } %}
        </div>

    {% endif %} #}

    

{% endblock %}
