{# Default Commerce template just does following include #}
{# {% include 'shop/products/index' %} #}

{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% set type = craft.app.request.getParam('type') ?: ['books','audio'] %}
{% set number = craft.app.request.getParam('number') ?: 1 %}

{% set products = craft.products({
    limit: number,
    type: type
}) %}

{% block content %}

    <section class="space-menu">
        {# Page Header #}
        {# Notes:
            Filter by 'Product Type' #}
        {% set content = { title: 'Shop' } %}
        {% include "_components/page-header--filters" with { content: content, classes: '-left' } %}
    </section>

    {# Featured  #}
    <div class="container | space-b--sm" id="featured"> {# Billboard - Placeholder Content #}
        {% set placeholderEntry = craft.entries.section('podcasts')[2] %}
        {% set placeholderBillboard = placeholderEntry.contentBlocksStandard[6] %}

        {# Billboard - Floated #}
        {% include "_components/billboard--floated-img" with { block: placeholderBillboard } %}
    </div>


    {# Product List #}
    <div class="container--sm gutter-md | space-b" id="products">

        <div class="flex-grid">
            {# Product Grid #}
            {% for product in products %}
                {# Product Card #}
                {% include '_components/product-card' with { content: product } %}
            {% endfor %}
        </div>

        <div class="inf-pagination-control">
            {# {{ global.link('', 'btn -light -bronze', 'Show more products') }} #}
            <a href="?number={{ number + 9 }}" class="btn -light -bronze">
                Show more products
            </a>
        </div>

    </div>

{% endblock %}