.article-content {
    // Headers
    h2 {
        @apply text-3lg;
    }

    h2,
    h3,
    h4,
    h5 {
        @apply font-serif;
    }

    h6 {
        @apply meta-label text-bronze tracking-none block mb-3;
    }

    // Dropcap (fallback)
    // &.-drop-cap {
    //   p:first-of-type {
    //     &:first-letter {
    //       @apply font-serif text-red text-4lg;
    //     }
    //   }
    // }

    // Links
    p a {
        @apply text-slate-light font-light border-slate-light;
        &:hover {
            @apply text-red;
        }
    }

    // Lists
    ul,
    ol {
        @apply mt-5 mb-10 list-reset;

        li {
            @apply py-3 pl-6 border-b border-ivory-light relative;
            list-style-type: none;
        }
        > li {
            &:before {
                @apply absolute pseudo bg-bronze rounded-full pin-l;
                top: 1.5rem;
                height: 0.25rem;
                width: 0.25rem;
            }
        }
    }

    // Images
    .image,
    img {
        @apply my-10;
    }

    // Reset Slider
    .slider-item img {
        @apply my-0;
    }

    // Blockquotes
    blockquote {
        @apply mt-10 relative font-serif text-red text-3lg px-6 pt-12 pb-8;

        &:before {
            @apply absolute pin-t pin-l px-4 border-12 border-ivory-light mt-2 -ml-4;

            content: '\201C';
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            font-size: 4rem;
            font-family: 'Lucida Grande';
            z-index: -1;
            line-height: 0.5rem;
            padding-top: 32px;
        }
    }

    // Video
    figure {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    // RTE (redactor)

    // Screen
    // MD
    @screen md {
        // Paragraphs
        &.paragraphs.-md p {
            @apply mb-8;

            &:last-of-type {
                @apply mb-0;
            }
        }

        // Headers
        h2 {
            @apply text-4lg mb-4;
        }

        // Images
        .image,
        img {
            @apply my-16;
        }
    }
}
