// Content Card
.content-hero {
    // Default
    // Content
    &__content {
        width: 94%;
    }

    // Media
    &__media {
        width: 6%;
    }

    // Card Title
    .card-title {
        @apply mb-4;
    }

    // Link
    a:hover {
        .card-title,
        .meta-label {
            @apply text-red;
        }
    }
    .content-label a {
        @apply text-red;
    }

    // Screen
    // MD
    @screen md {
        // Content
        &__content {
            @apply w-3/5;
        }

        // Media
        &__media {
            @apply w-2/5;
        }

        // Card Title
        .card-title {
            @apply mb-6;
        }
    }

    // Themes
    &.-dark {
        // Default
        @apply bg-slate-darker text-white;

        // Label
        .content-label {
            @apply border-slate-darkest text-white;
            a {
                @apply text-white;

                &:hover {
                    @apply text-bronze;
                }
            }
        }
        // Links
        .link.-underline {
            @apply text-white border-slate-darkest;

            &:hover {
                @apply border-bronze text-bronze;
            }
        }
        a:hover {
            .card-title,
            .meta-label {
                @apply text-bronze;
            }
        }
    }

    &.-red {
        // Default
        @apply bg-red text-white;

        // Label
        .content-label {
            @apply border-red-dark text-white;
            a {
                @apply text-white;
                &:hover {
                    @apply text-slate-darker;
                }
            }
        }
        // Links
        .link.-underline {
            @apply text-white;

            &:hover {
                @apply border-slate-darker text-slate-darker;
            }
        }
        a:hover {
            .card-title,
            .meta-label {
                @apply text-slate-darker;
            }
        }
    }
}

// .content-hero.-event {
// }
