// Content Card
.content-card {
    .content-card {
        // Media - Cover Art
        // Notes: Floats a cover img in the center - need to pull the dominant color to use as a background fill
        // from Craft image info
        &__media {
            &.-cover-art {
                @apply relative block bg-ivory-lighter;
                padding-top: 60%;

                figure {
                    @apply w-2/5 absolute align-yx;
                    padding-top: 40%;
                }
            }
        }

        // Hover
        a:hover {
            .card-title {
                @apply text-red;
            }
        }
    }
}
