//
// Donation Metrics
//

.donation-metrics {
    @apply mx-auto;
    max-width: 41.5rem;
    padding-top: 1.75rem;


    // Meter
    .donation-meter {
        @apply text-slate-darkest mb-6;
    
        &__meter {
            @apply
                h-4 w-full
                bg-ivory-lighter
                mb-1
                rounded-sm;

            &__inner {
                @apply
                    relative
                    h-full
                    rounded-sm;

                &:after {
                    @apply
                        absolute
                        h-full 
                        bg-red rounded-sm;
                    content: '';
                    left: 0;
                    width: 0;
                }

                &.-run {
                    &:after {
                        @apply w-full timing-2 property-all;
                        transition-duration: 1.5s
                    }
                }
            }
        }
    
        &__label { @apply font-medium text-sm }

        @screen sm {
            &__label { @apply text-md }
        }
        
        @screen md {
            @apply mb-8
        }
    }
    
    
    // Stats
    .donation-stats {
        @apply
            flex flex-wrap justify-around
            -mx-1 mb-10;
    
        &__stat {
            @apply
                w-1/2 px-1
                text-center;

            @apply opacity-100;
    
            .donation-meter__stat-header {
                @apply
                    text-xl text-slate-darkest
                    mb-2 pb-2
                    border-b-2 border-ivory-light
            }
            
            .donation-meter__stat-detail { @apply font-medium text-slate-light text-sm }
        }

        @media screen and (min-width: 23.4375rem) {
            @apply -mx-2;

            &__stat { @apply px-2 }
        }

        @screen sm {
            &__stat {
                @apply w-2/5;

                .donation-meter__stat-header { @apply text-2xl }
                .donation-meter__stat-detail { @apply text-md }
            }
        }

        @screen md {
            &__stat {
                .donation-meter__stat-header { @apply text-3xl }
            }
        }
    }
}