.form-base {
    // Fields
    textarea,
    input[type='text'],
    input[type='password'],
    input[type='tel'],
    input[type='email'] {
        //
        @apply bg-transparent border-b border-slate-dark
          w-full 
          text-base
          pb-2 pt-8
          property-colors duration-3 timing-1;

        -webkit-border-radius: 0px;

        &::placeholder {
            @apply opacity-75;
        }

        &:focus {
            @apply border-bronze;
        }
    }

    input[type='number'] {
        @apply border-2 border-ivory text-center p-3;
        width: 5rem;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    // Labels
    .standard-label {
        @apply text-slate-light text-xs font-sans font-semibold uppercase
      absolute pin-t pin-l
      z-10
      mt-2
      ml-3;

        &.-standalone {
            @apply static
        ml-3 mt-0 mb-3;
        }
    }

    // Field Group
    .field-group {
        @apply relative flex-grow px-3;
    }

    // Form Group
    .form-group {
        @apply flex justify-between flex-wrap
                mb-6 
                -mx-3;
        &.-start {
            @apply justify-start;
            .field-group {
                flex-grow: inherit;
            }
        }
    }

    // Form Block (elements like headers and buttons that are not a field group - this applies the correct margins)
    .form-block {
        @apply mb-8;

        &:last-child {
            @apply mb-0;
        }
    }

    // Helper Text
    .helper-text {
        @apply text-xs font-sans font-normal
      mt-2;
    }

    // Error
    .-error {
        .standard-label,
        .helper-text {
            @apply text-red;
        }
        textarea,
        input[type='text'],
        input[type='password'],
        input[type='email'] {
            @apply border-red;
            &::placeholder {
                @apply text-red;
            }
        }
    }

    // Choices in -standard
    .-standard .choices__inner {
        @apply text-base text-slate-dark capitalize tracking-none
        pt-8 pl-0;
        padding-bottom: 0.625rem;
    }

    // White Fields
    // &.-white-fields {
    //     textarea,
    //     input[type='text'],
    //     input[type='password'],
    //     input[type='email'] {
    //         @apply bg-white;
    //     }
    // }

    // Bronze Fields (on dark backgrounds)
    &.-bronze-fields {
        textarea,
        input[type='text'],
        input[type='password'],
        input[type='email'] {
            @apply border-bronze text-white;
        }
    }

    // Sub Section Headers in Forms
    .sub-section-header {
        @apply py-6;
    }

    // Submit Button
    [type='submit'] {
        @apply mt-4;
    }
}

// Screen
@screen md {
    // Field Group
    .field-group {
        @apply px-3;
    }
}

// Unuglify Chrome Autocomplete
/* autoprefixer: off */
.-bronze-fields {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border-bottom: 1px solid var(--bronze);
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px var(--slate-darkest) inset;
    }
}
