.form-base {
    // Fields
    textarea,
    input[type='text'],
    input[type='password'],
    input[type='tel'],
    input[type='email'],
    .StripeElement {
        @apply bg-transparent border-b border-slate-dark
          w-full 
          text-base
          pb-2 pt-8
          property-colors duration-3 timing-1;

        -webkit-border-radius: 0px;
        -webkit-appearance: none;

        &::placeholder {
            @apply opacity-75;
        }

        &:focus {
            @apply border-bronze;
        }
    }

    input[type='number'] {
        @apply border-2 border-ivory text-center p-3;
        width: 5rem;
        -webkit-appearance: none;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    // Labels
    .standard-label {
        @apply text-slate-light text-xs font-sans font-semibold uppercase
      absolute pin-t pin-l
      z-10
      mt-2
      ml-3;

        &.-standalone {
            @apply static
        ml-3 mt-0 mb-3;
        }
    }

    // Field Group
    .field-group {
        @apply relative flex-grow px-3;
    }

    // Form Group
    .form-group {
        @apply flex justify-between flex-wrap
                mb-6 
                -mx-3;
        &.-start {
            @apply justify-start;
            .field-group {
                flex-grow: inherit;
            }
        }
    }

    // Form Block (elements like headers and buttons that are not a field group - this applies the correct margins)
    .form-block {
        @apply mb-8;

        &:last-child {
            @apply mb-0;
        }
    }

    // Helper Text
    .card-errors,
    .helper-text {
        @apply text-xs font-sans font-normal
      mt-2;

        a {
            @apply font-normal underline;
        }
    }

    // Error
    .-error {
        .standard-label,
        .helper-text {
            @apply text-red;
        }
        textarea,
        input[type='text'],
        input[type='password'],
        input[type='email'] {
            @apply border-red;
            &::placeholder {
                @apply text-red;
            }
        }
    }

    // Choices in -standard
    .-standard .choices__inner {
        @apply text-base text-slate-dark capitalize tracking-none
        pt-8 pl-0;
        padding-bottom: 0.625rem;
    }

    // White Fields
    // &.-white-fields {
    //     textarea,
    //     input[type='text'],
    //     input[type='password'],
    //     input[type='email'] {
    //         @apply bg-white;
    //     }
    // }

    // Bronze Fields (on dark backgrounds)
    &.-bronze-fields {
        textarea,
        input[type='text'],
        input[type='password'],
        input[type='email'] {
            @apply border-bronze text-white;
        }
        .standard-label,
        .control__text {
            @apply text-white;
        }
        .control__indicator {
            @apply border-bronze;
        }
    }

    // Sub Section Headers in Forms
    .sub-section-header {
        @apply py-6;
    }

    // Submit Button
    [type='submit'] {
        @apply mt-4;
    }
}

// Screen
@screen md {
    // Field Group
    .field-group {
        @apply px-3;
    }
}

// Unuglify Chrome Autocomplete
/* autoprefixer: off */
.-bronze-fields {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border-bottom: 1px solid var(--bronze);
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px var(--slate-darkest) inset;
    }
}

#favoriteboulder {
    @apply hidden;
}

// Default Checkboxes

// Checkboxes
input[type='checkbox'] {
    @apply relative appearance-none
    property-colors duration-3 timing-1 
    bg-white border border-bronze
    cursor-pointer mr-1;
    height: 1rem;
    width: 1rem;
    top: 3px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='checkbox']:hover {
    @apply border-bronze-dark;
}

input[type='checkbox']:checked {
    @apply relative bg-bronze border-bronze;
}

input[type='checkbox']:checked::after {
    @apply absolute pin-t pin-l
    bg-center bg-cover bg-no-repeat
    h-2 w-2;
    margin: 3px;
    content: '';
    background-image: url('/assets/icons/checkmark--white.svg');
}

input[type='checkbox']:disabled {
    position: relative;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.15s;
    background-color: #d7dee4;
    border: 2px solid #d7dee4;
}

input[type='checkbox'] {
    @apply relative appearance-none
    property-colors duration-3 timing-1 
    bg-white border border-bronze
    cursor-pointer mr-1;
    height: 1rem;
    width: 1rem;
    top: 3px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='checkbox']:hover {
    @apply border-bronze-dark;
}

input[type='checkbox']:checked {
    @apply relative bg-bronze border-bronze;
}

input[type='checkbox']:checked::after {
    @apply absolute pin-t pin-l
    bg-center bg-cover bg-no-repeat
    h-2 w-2;
    margin: 3px;
    content: '';
    background-image: url('/assets/icons/checkmark--white.svg');
}

input[type='checkbox']:disabled {
    position: relative;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.15s;
    background-color: #d7dee4;
    border: 2px solid #d7dee4;
}

// Default Radio
input[type='radio'] {
    @apply relative appearance-none
    property-colors duration-3 timing-1 
    bg-white border border-bronze
    cursor-pointer mr-1 rounded-full;
    height: 1rem;
    width: 1rem;
    top: 3px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='radio']:hover {
    @apply border-bronze-dark;
}

input[type='radio']:checked {
    @apply relative bg-bronze border-bronze;
}

input[type='radio']:checked::after {
    @apply absolute pin-t pin-l
    bg-center bg-white rounded-full
    h-2 w-2;
    margin: 3px;
    content: '';
    // @apply absolute pin-t pin-l
    // bg-center bg-cover bg-no-repeat
    // h-2 w-2;
    // margin: 3px;
    // content: '';
    // background-image: url('/assets/icons/checkmark--white.svg');
}

input[type='radio']:disabled {
    position: relative;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.15s;
    background-color: #d7dee4;
    border: 2px solid #d7dee4;
}
