.social-list {
    @apply list-reset leading-none;

    &.-inline li {
        @apply inline-block mx-1;
    }

    a {
        @apply w-4 h-4
            inline-block
            text-slate;

        &:hover {
            @apply text-slate;
        }
    }

    // Rounded
    &.-rounded a {
        @apply border rounded-full;
        padding: 0.4375rem 0.5rem 0.375rem;
        height: 1.875rem;
        width: 1.875rem;
    }

    // Light
    &.-light a {
        @apply text-slate-light border-slate-light;

        &:hover {
            @apply text-white 
            border-bronze 
            bg-bronze;
        }
    }
}
