.social-list {
    @apply list-reset leading-none;

    // Defaults
    a {
        @apply inline-block
            text-slate
            flex justify-center items-center;

        &:hover {
            @apply text-bronze;
        }
    }
    svg {
        @apply h-4;
    }
    
    // Inline
    &.-inline li {
        @apply inline-block mx-1;
    }

    // Rounded
    &.-rounded {
        a {
            @apply border rounded-full;
            height: 1.875rem;
            width: 1.875rem;
        }

        svg {
            @apply h-3;
        }


        // Rounded White
        &.-white {
            a {
                @apply text-white border-transparent;
                height: 3rem;
                width: 3rem;

                &:hover {
                    @apply text-bronze border-white bg-white;
                }

                svg {
                    @apply h-8
                }
            }
        }

        
    
    }

    // Light
    &.-light a {
        @apply text-slate-light border-slate-light;

        &:hover {
            @apply text-white 
            border-bronze 
            bg-bronze;
        }
    }

    // White
    &.-white a {
        @apply text-white border-white;

        &:hover {
            @apply text-white 
            border-bronze 
            bg-bronze;
        }
    }
}
