.social-list {
    @apply list-reset leading-none;

    // Defaults
    a,
    button {
        @apply inline-block
            text-slate
            flex justify-center items-center;

        &:hover {
            @apply text-bronze;
        }
    }

    // Inline
    &.-inline li {
        @apply inline-block mx-1;
    }

    // Rounded
    &.-rounded {
        // Default (slate)
        a {
            @apply border rounded-full border-slate;
            height: 1.875rem;
            width: 1.875rem;

            &:hover {
                @apply text-bronze border-white bg-white;
            }
        }

        .icon {
            @apply w-3;
        }

        // Slate Light
        &.-slate-light {
            a {
                @apply text-slate-light border-slate-light;

                &:hover {
                    @apply text-bronze border-white bg-white;
                }
            }
        }

        // Rounded White (white color/bronze border)
        &.-light-bronze {
            a {
                @apply text-white border-transparent;
                height: 3rem;
                width: 3rem;

                &:hover {
                    @apply text-bronze border-white bg-white;
                }

                .icon {
                    @apply w-6;
                }
            }
        }

        // Rounded White (all white)
        &.-light {
            a {
                @apply text-white border-white;
                height: 3rem;
                width: 3rem;

                &:hover {
                    @apply text-bronze border-white bg-white;
                }

                .icon {
                    @apply w-6;
                }
            }
        }
    }

    // Light
    &.-light a {
        @apply text-slate-light border-slate-light;

        &:hover {
            @apply text-white 
            border-bronze 
            bg-bronze;
        }
    }

    // White
    &.-white a {
        @apply text-white border-white;

        &:hover {
            @apply text-white 
            border-bronze 
            bg-bronze;
        }
    }
}
