{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% block content %}

<section class="space-menu | container gutter | space-b | no-print">

    {% set pageHeaderContent = { 
        title: entry.header
    } %} 
    {% include "_components/page-header" with { content: pageHeaderContent } %}

    {% set percentage = entry.amountRaised / entry.goal * 100 %}

    {% if entry.endDateTime %}
        {% set timeLeft = 'ended' %}
        {% set now = date('now' | date('Y/m/d H:i')) %}
        {% set endDateTime = date(entry.endDateTime | date('Y/m/d H:i')) %}
        {% if endDateTime > now %}
            {% set difference = endDateTime.diff(now) %}
            {% if difference | date('%a') > 0 %}
                {% set timeLeft = difference.days %}
            {% else %}
                {% set hours = difference | date('%h') %}
                {% set mins = difference | date('%i') %}
                {% set timeLeft = (hours > 0 ? hours ~ 'h ' : '') ~ mins ~ 'm' %}
            {% endif %}
        {% endif %}
    {% else %}
        {% set timeLeft = null %}
    {% endif %}

    {% include "_components/donation-metrics"
        with {
            percentage: percentage | number_format(0, '.', ','),
            amountRaised: entry.amountRaised | number_format(0, '.', ','),
            amountGoal: entry.goal | number_format(0, '.', ','),
            timeLeft: timeLeft,
            copy: entry.fullDescription
        }
    %}

    <div class="container--xs gutter">
        {{ entry.embed }}
    </div>

</section>

{% endblock %}