// Prevent Outlines
* {
  outline: none;
}

// Base
.btn {
  @apply link
    inline-block
    border-2
    rounded
    text-md text-center
    font-sans 
    font-medium
    leading-none
    timing-1 duration-1 property-all
    px-6 py-5;

  // Default
  @apply bg-sage-darkest border-sage-darkest text-white;

  .icon svg {
    @apply property-none;
  }

  // Hover
  &:hover {
    @apply  bg-red border-red text-white;
  }

  // Light
  &.-light {
    @apply bg-grey-light border-grey-light text-red;

    &:hover {
      @apply border-red bg-red text-white;
    }
  }

  // white
  &.-white {
    @apply bg-white border-white text-slate-darker;

    // &:hover {
    //   @apply border-white bg-white;
    // }

    // -yellow
    &.-yellow {
      @apply text-yellow;
    }
  }

  // Solid
  &.-red {
    @apply  bg-red;

    // &:hover {
    //   @apply text-white;
    // }
  }

  // Small
  &.-sm {
    @apply py-3 text-sm;
  }
  // XS
  &.-xs {
    @apply py-3 px-4 text-sm;
  }
  
  // Icon 
  &.-has-icon {
    
    .btn__text {
      margin-top: 2px;
      @apply pl-3;
    }

    // Reverse
    &.-reverse {
      .align-items-center {
        @apply flex-row-reverse;
      }

      .btn__text {
        @apply pl-0 pr-3;
      }

    }
  }

  // Add
  &.-add {
    @apply relative pr-10;
    &:after {
      @apply absolute pin-r align-y
      text-xl font-normal;
      content: "\002B";
      margin-right: 0.875rem;
    }
  }
}

// -Modifiers
.btn,
[class^="btn--"] {
  &.-wide {
    @apply px-16;
  }

  &.-full {
    @apply block 
            w-full
            text-center;
  }
}


// Screen
// MD
@screen md {

  // Default
  .btn {
    @apply px-10;
  }
}