// Icon
.icon {
    svg {
        @apply w-full h-full 
        timing-1 duration-1 property-all;
    }

    &.-xs {
        @apply w-3 h-3 block;
    }
    &.-sm {
        @apply w-4 h-4 block;
    }
    &.-md {
        @apply w-5 h-5 block;
    }
    &.-xl {
        @apply w-24 h-24 block;
    }

    // Transforms
    &.-flip {
        transform: rotate(180deg);
    }

    &.-tilt-up {
        transform: rotate(-45deg) translate(0, -2px);
    }
}

// Hide Text
.-icon-only {
    .btn__text {
        @apply hidden;
    }
}

// Logo
.logo,
.logo-icon {
    @apply w-full block;
}

// SVG Shadow Utility
.hover\:svg-shadow {
    &:hover svg {
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.9));
    }
}

// SVG Fill/Stroke Utilities
.f {
    fill: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.s {
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;

    &-2 {
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
}
// .-s3 {stroke-width: 3;}
// .-s4 {stroke-width: 4;}

// Screen
// MD
@screen md {
    // Logo
    .logo {
        max-width: 11rem;
    }

    // Icons
    .icon {
        &.-xl {
            @apply w-48 h-48;
        }
    }
}
