// Labels

// Topic Label
.content-label {
    @apply link text-xs font-sans font-semibold uppercase 
    leading-none tracking-normal text-center
    p-4 border-8 -mb-3 -ml-6 border-ivory-lightest;

    // Date
    &.-date {
        @apply text-red font-medium px-6;
    }

    // Themes
    &.-light {
        @apply border-ivory-lighter;
    }
    &.-red {
        @apply border-red-dark text-white;
    }
    &.-dark {
        @apply border-slate-darkest text-white;
    }

    &__day {
        @apply text-3lg;
    }
}

// Meta Label
.meta-label {
    @apply link text-xs font-sans tracking-normal uppercase leading-none;
}

// Category + Title Group
.label-title-group {
    @apply flex items-center;

    &__title {
        @apply relative pl-10;

        &:before {
            @apply absolute pseudo pin-l ml-4
            border-l border-bronze-lighter;

            height: 140%;
            top: 50%;
            transform: translate(0%, -50%) rotate(20deg);
        }
    }
}

// Screens
// MD
@screen md {
    // Topic Label
    .content-label {
        @apply py-6 -mb-6 -ml-8 border-16;
    }
}
