// Links
.link {
    @apply no-underline
        font-medium
        inline-block
        timing-1 duration-1 property-all;

    // Underline
    &.-underline {
        @apply border-b-8 border-ivory-light pb-1 
    uppercase text-bronze
    text-xs tracking-normal;

        &:hover {
            @apply border-bronze text-bronze;
        }

        &.-light {
            @apply text-ivory;

            &:hover {
                @apply border-bronze-dark;
            }
        }
        &.-dark {
            @apply text-white border-slate-darkest;

            &:hover {
                @apply border-bronze text-bronze;
            }
        }
        &.-sm {
            @apply text-xxs;
        }
    }

    // // Small
    // &.-sm {
    //   @apply text-sm pb-0;
    // }

    // // Green
    // &.-green {
    //   @apply ;

    //   &:hover {
    //     @apply;
    //   }
    // }

    // // Dark
    // &.-dark {
    //   @apply border-green-darkest;

    //   &:hover {
    //     @apply  border-green;
    //   }
    // }

    // // Icon Link
    // &.-icon {
    //   @apply flex items-center;

    //   // Icon
    //   svg {
    //     @apply property-transform;
    //   }

    //   .text {
    //     @apply mr-2;
    //   }

    //   &:hover {
    //     svg {
    //       transform: translate(0.5rem, 0);
    //       @apply property-transform;
    //     }
    //   }
    // }
    // // Group of Links
    // &-group__item {
    //   @apply block w-full mb-2;
    // }

    // // Screen XS
    // @screen xs {
    //   // Group of Links
    //   &-group {
    //     @apply flex items-center .justify-start;
    //     &__item,
    //     .link {
    //       @apply mr-4 text-center w-auto mb-0;

    //       &:last-child {
    //         @apply mr-0;
    //       }
    //     }
    //   }
    // }

    // // Screen sm
    // @screen sm {
    //   // Group of Links
    //   &-group {
    //     @apply justify-center;
    //   }
    // }

    // // Screen Md
    // @screen md {
    //   // Group of Links
    //   &-group {
    //     @apply justify-start;
    //   }
    // }
}

// Links
// Default
a {
    @apply link;
    color: inherit;

    // &:hover {
    //     @apply text-red;
    // }
}

// Alt Link Hover Colors
.links-hover {
    &--red a:hover {
        @apply text-red;
    }
    &--light a:hover {
        @apply text-bronze;
    }
    &--dark a:hover {
        @apply text-slate-darkest;
    }
    &--bronze a:hover {
        @apply text-bronze;
    }
    &--inherit a:hover {
        color: inherit;
    }
}

// No Outline
a,
button {
    outline: none !important;
}

// Focus Links (general accessibility)
.focus-links {
    a:focus,
    button:focus {
        color: var(--red) !important;
        border-color: var(--red) !important;
        .icon {
            color: var(--red);
            border-color: var(--red);
        }
    }

    &.-light {
        a:focus,
        button:focus {
            color: #fff !important;
            border-color: #fff !important;
            .icon {
                color: #fff;
                border-color: #fff;
            }
        }
    }
}

// Section Anchor
// .js-section-anchor {
//   &.section-active {
//     color: #53c07d !important;
//   }
// }
