.pattern-path {
    opacity: 0.5;
    fill: #f7f4f2;
}

// Page Header Pattern
.page-header {
    .pattern {
        @apply absolute pin-t pin-l w-full;
        z-index: -1;
    }
}

// Billboard Pattern
.billboard {
    .pattern {
        @apply absolute pin-b pin-l w-full;
        transform: rotate(180deg);
    }
    &.-sage .pattern-path {
        fill: #9cb4ae;
    }
    &.-slate .pattern-path {
        fill: #3e4447;
    }
    &.-red .pattern-path {
        fill: #aa3d2c;
    }
}
