
{{ craft.sproutForms.displayForm('contactForm') }}

{# 

<contact_form :formmethod="'POST'" :formaction="'sprout-forms/entries/save-entry'"
    :mcid="'8a954ea73c'" :mcuser="'6ab7472048d4ea9ba49aa23e8'" :mcurl="'wearetelegraph.us5'"
    :signuplocation="'contact-page'">

    <template v-slot:default>
        <header class="sub-section-header | mb-10">
            <h2 class="title | header-lg font-serif">Subheading Here</h2>
            <div class="paragraphs -md">
                <p>Each of these provide a message of hope to strengthen individuals and congregations, as well as model ways of engaging the culture in a manner that is thoughtful, courageous, and Christ-centered.</p>
            </div>
        </header>
    </template>

    <template v-slot:success>
        <header class="sub-section-header | mb-10">
            <h2 class="title | header-lg font-serif">Success</h2>
            <div class="paragraphs -md">
                <p>Message received! Thanks for reaching out.</p>
            </div>
        </header>
    </template>

    <template v-slot:fields>
        {{ craft.sproutForms.displayForm('contact') }}
    </template>

</contact_form> #}