<!-- Address -->
<div class="hcard | lg:py-0 py-8">
    <div class="hcard__item | tel">
        <a href="tel: +44 (0) 208 068 0425"> +44 (0) 208 068 0425</a>
    </div>

    <div class="hcard__item | email">
        <a href="mailto:info@1517.org">info@1517.org</a>
    </div>

    <div class="hcard__item | addr | mt-5">
        <p>Block A Unit 402A</p>
        <p>100 Clements Road</p>
        <p>London SE16 4DG</p>
    </div>
</div>
