{% if blocks|length %}

{% for block in blocks %}
    {% switch block.type %}

        {# Article Body #}
        {% case "articleBody" %}
            <div class="article-body  {% if dropCap is defined %}-drop-cap{% endif %} | paragraphs -md -loose | article-content">

                {{ block.article }}
            </div>

        {# Big List - Assets #}
        {% case "bigListAssets" %}
            {% include '_components/longform-blocks/big-list-assets' %}

        {# Button Group #}
        {% case "buttonGroup" %}
            {% include '_components/longform-blocks/button-group' %}

    {% endswitch %}
    {% endfor %}
    
{% endif %}