{# Page Header -left with Filter Bar
    Optional Content:
    - Detail
#}
<header class="page-header -left | container--sm gutter-md | space-t space-b--sm">

    <div class="page-header__title | flex-grid">
        <h1 class="header-xl font-serif">{{ content.title }}</h2>

        <div class="filter-bar">
            <div class="item filter | mb-2">
                <select_box
                    :opt="{ name: 'type', variant: '-md' }"
                    value="{{ craft.app.request.getParam('type') }}"
                >
                    <option value="">All Formats</option>
                    <option value="audio">Audio</option>
                    <option value="books">Books</option>
                </select_box>
            </div>
        </div>
    </div>

    {% if content.detail is defined %}
    <div class="page-header__detail">

        <div class="paragraphs -sm -loose">
            <p>
                {{ content.detail }}
            </p>
        </div>

    </div>
    {% endif %}
</header>