<nav class="product-bar" aria-label="Register for this Event">
    
    <div class="product-bar__container | container">
        <div class="product-bar__content">
            <div class="title">
                <span class="currency-amount-label">
                    <span class="currency">$</span>
                    <span class="amount">{{ product.defaultVariant.salePrice }}</span>
                </span>
                <span class="meta-label">Per Attendee</span>
            </div>
        </div>
        <div class="product-bar__action">
            <a href="?purchasableId={{product.defaultVariant.id}}" class="btn -red -md">Register</a>
        </div>
    </div>

</nav>