{% import '_macros/global' as global %} {# Site Menu #}
<site_menu class="site-header">
    {# Logo #}
    <template slot="logo">
        <div class="brand | px-4 | md:pl-0">
            {{ global.brandIcon('logo') }}
        </div>
        {% if siteInfo.siteTagline | length %}
        <span class="site-tagline">
            {{ siteInfo.siteTagline }}
        </span>
        {% endif %}
    </template>

    {# Menu #}
    <template slot="menu">
        {# Group A #}
        <div class="site-menu__dropdown-group | md:w-1/4">
            <nav aria-label="1517 Menu" class="dropdown-menu">
                {# Menu List #} {% include "_components/list-menu--nested" with
                { content: 'mainMenuA', classes: '-red -sm' } %}
            </nav>
        </div>

        {# Group B #}
        <div class="site-menu__dropdown-group | md:w-1/4">
            <nav aria-label="1517 Menu" class="dropdown-menu">
                {# Menu List #} {% include "_components/list-menu--nested" with
                { content: 'mainMenuA', classes: '-red -sm' } %}
            </nav>
        </div>

        {# Group C #}
        <div class="site-menu__dropdown-group | md:w-1/4">
            <nav aria-label="1517 Menu" class="dropdown-menu">
                {# Menu List #} {% include "_components/list-menu--nested" with
                { content: 'mainMenuA', classes: '-red -sm' } %}
            </nav>
        </div>

        {# Group D #}
        <div class="site-menu__dropdown-group | md:w-1/4">
            <nav aria-label="1517 Menu" class="dropdown-menu">
                {# Menu List #} {% include "_components/list-menu--nested" with
                { content: 'mainMenuA', classes: '-red -sm' } %}
            </nav>
        </div>
    </template>
</site_menu>
