{% extends "_layouts/base" %} 
{% import '_macros/global' as global %}

{% set format = craft.app.request.getParam('format') %}
{% set author = craft.app.request.getParam('author') %}

{# full lists for drop downs #}
{% set allSections = craft.sections.getAllSections() %}
{% set sections = [] %}
{% for section in allSections %}
    {% if section.type == 'channel' and section.handle != 'authors' %}
        {% set sections = sections|merge([section]) %}
    {% endif %}
{% endfor %}
{% set authors = craft.entries.section('authors').all() %}

{# apply sections #}
{% set sectionFilter = format ?: sections|join(',') %}

{# build out relationships #}
{% set authorCat = author ? craft.entries.section('authors').id(author).first %}
{% set authorParam = authorCat ? { targetElement: authorCat, field: 'authorLink' } %}
{% set relationParams = authorParam ?: null %}

{% set entries = craft.entries({
    section: sectionFilter,
    order: 'postDate desc',
    relatedTo: relationParams
}) %}

{% set pageLimit = 5 %}
{% paginate entries.limit(pageLimit) as pageInfo, pageEntries %}
{% set count = pageInfo.total %}

{% if pageInfo.nextUrl %}
    {% set nextUrl = url(pageInfo.nextUrl, {
        format: format,
        author: author
    }) %}
{% endif %}


{% block content %} 

    <section class="space-menu ">
        {# Page Header Content #}
        {% set content = { 
            title: category.title, 
            category: 'Sections', 
            detail: category.shortDescription,
            image: category.cardImagePodcast.one(),
            action: category.headerAction
        } %} 
        {# Page Header - Action #}
        {% include "_components/page-header--action" with { content: content } %}

    </section>

    {# Featured Card #}
    {% if category.featuredContent|length %}
        {% set featuredSingle = '' %}
        {% set background = '' %}
        {% for method in category.featuredContent.all() %}
            {# Data based on Method #}
            {% switch method.type %}
                
                {# Pull Latest #}
                {% case "pullLatest" %}

                    {% set featuredSingle = entries.one() %}
                
                {# Pull Featured #}
                {% case "pullFeatured" %}

                    {% set featuredSingle = method.featuredFrom.one() %}

            {% endswitch %}

            {# Set Background #}
            {% set background = method.background %}

        {% endfor %}
        <div id="featured" class="container | space-b">

            {# Content Hero - Switches based on Format #} 
            {% include '_components/content-heroes' with { content: featuredSingle, 'classes': background } %}

        </div>
    {% endif %}
    
    <div id="filters" class="container">
        {# Filters #} 
        {% include "_components/filters-page" %}
    </div>

    {# Card List #}
    <div id="sections" class="page-entries container--sm gutter-md | space-b">

    {% if count > 0 %}
        
        {# Content Card - Podcast #} 
        {% for entry in pageEntries %}

            {# Content Cards - Switches based on Format #} 
            {% include '_components/content-cards' with { content: entry } %}
            
        {% endfor %}

        {% include "_components/pagination" %}

    {% else %}

        {# No Entries #}
        <div class="text-center space-b">
        {% if format or author %}
           There are no entries that match the filters you've selected. 
        {% else %}
            There are no entries for this Section.  
        {% endif %}
        </div>
        
    {% endif %}
        
    </div>

{% endblock %}
