{% extends "_layouts/_base" %} 
{% import '_macros/global' as global %} 


{% block content %}
   
    {# Featured Card #}
    <div id="featured" class="container | space-menu space-b">
        {# Content Card - Hero #} 
        {% include '_components/static/content-hero--article' with { 'classes': '-red' } %}
        <code class="p-2">^ static component: <b>_components/static/content-hero--article</b></code>
    </div>

    {# Latest Cards 
       Notes: Grabs the latest entries from SELECT channels. MAX = 10
    #}
    {% set latestContentSections = [] %}
    {% for section in entry.sections %}
    {% set latestContentSections = latestContentSections|merge([section]) %}
    {% endfor %}
    {% set latestContentSections = latestContentSections|join(', ') %}
    {% set latestContent = craft.entries({ section: latestContentSections, limit: 10 }) %}
    {% if latestContent|length > 1 %}   
    <div id="latest" class="container--sm gutter-md | space-b">
        <div class="flex-grid">
            
            {# Show Latest Content #}
            {% for entry in latestContent.all() %} 
            
                {# Content Card - Stacked #}
                {% include '_components/content-card--stacked' with { content: entry } %} 

            {% endfor %} 
        </div>
    </div>
    {% endif %}

    <div id="mission" class="space-b">
        {# Text Billboard - placeholder content#} 
        {% set content = { 
            header: '<strong>Needs structure. Freedom is rooted in the gospel of Christ.</strong> 1517 tells you stories you never heard before, shows you connections you never knew existed and the nuance and complexity of the world',
            buttons: 'link -underline -light', 
            action: 'Hear our Mission'
        }%}
        {# Text Billboard - basic #} 
        {% include '_components/static/billboard--text' with { classes: '-center -basic -bronze', content: content } %}
    </div>

{% endblock %}
