{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% block content %}

{# Featured Content Hero #}
<div id="featured" class="container | space-menu space-b">

    {# Content Card - Hero #}
    {% include '_components/content-heroes' with { content: entry.featuredContentSingleSelect.one(), classes: entry.featuredContentCardColor } %}

</div>


{# Latest Content Cards
    Notes:  
        Grabs the latest entries from SELECT channels 
        OR latest from all Articles
#}
{% set latestArticles = 0 %}
{% set selectedSections = entry.latestArticles %}
{% if selectedSections|length %}
    {% set sourceSections = [] %}
    {% for section in selectedSections.all() %}
        {% set sourceSections = sourceSections|merge([section]) %}
    {% endfor %}
    
    {% set latestArticles =  craft.entries({
        section: 'articles',
        relatedTo: sourceSections,
        limit: entry.maxCountLatestContent
    }) %}
{% else %}
    {% set latestArticles = craft.entries.section('articles').limit(entry.maxCountLatestContent) %}
{% endif %}

{% if latestArticles|length %}
<div id="latest" class="container--sm gutter-md | space-b">
    <div class="flex-grid">

        {# Show Latest Content #}
        {% for entry in latestArticles.all() %}

            {# Content Card - Stacked #}
            {% include '_components/content-card--stacked' with { content: entry } %}

        {% endfor %}
    </div>
</div>
{% endif %}


{# Billboard CTA #}
{% if entry.showBillboardText %}
<div id="mission" class="space-b">

    {% set billboardContent = { 
        header: entry.billboardHeader,
        description: entry.billboardDescription,
        button: entry.billboardButton,
        buttonStyle: entry.billboardButtonStyle,
        background: entry.billboardBackground,
        image: false
        }%}
    
    {# Text Billboard - text #}
    {% include '_components/billboard--text' with { classes: '-center -basic', content: billboardContent } %}

</div>
{% endif %}


{# Popular Content List #}
{% if entry.popularArticles.one().popular|length %}
<div id="popular" class="container--sm gutter-md space-b">
    <div class="flex-grid">
        <div class="md:w-1/3 w-full">

            {# Section Header #}
            <header class="section-header -box">
                <h2 class="header-md mb-4">{{ entry.popularArticles.one().header }}</h2>
                <div class="paragraphs -xs text-slate-light">
                    <p>
                        {{ entry.popularArticles.one().description }}
                    </p>
                </div>
            </header>
        </div>

        <div class="md:w-2/3 w-full | mt-10 | relative z-10">

            {# Article List #}
            {% include '_components/list-articles' with { content: entry.popularArticles.one().popular } %}

        </div>
    </div>
</div>
{% endif %}


{# Podcasts
    Notes: Set this up like Latest Content so that based on  settings, 
    this list will EITHER pull latest from SELECT shows, or pull the latest from all #}

{% set latestPodcasts = 0 %}
{% set selectedShows = entry.latestPodcasts %}
{% if selectedShows|length %}
    {% set sourceShows = [] %}
    {% for show in selectedShows.all() %}
        {% set sourceShows = sourceShows|merge([show]) %}
    {% endfor %}
    {% set latestPodcasts =  craft.entries({
        section: 'podcasts',
        relatedTo: sourceShows,
        limit: entry.maxCountPodcasts
    }) %}
{% else %}
{% set latestPodcasts = craft.entries.section('podcasts').limit(entry.maxCountPodcasts) %}
{% endif %}

{% if latestPodcasts|length %}
<div id="podcasts" class="container--sm gutter-md | space-b">

    {# Header #}
    <header class="section-header | mb-12 md:mb-20">
        <h6 class="meta-label mb-2 text-yellow">Newest Episodes</h6>
        <h2 class="header-base">1517 Podcasts</h2>
    </header>

    {# Podcast List #}
    {% include '_components/list-podcasts' with { content: latestPodcasts } %}
</div>
{% endif %}


{# Events #}
{% set latestEvents = 0 %}
{% set selectedEvents = entry.latestEvents %}
{% if selectedEvents|length %}
        {% set latestEvents = selectedEvents.all() %}
    {% else %}
        {% set latestEvents = craft.entries.section('events').limit(entry.maxCountEvents).all() %}
{% endif %}

{% if latestEvents|length %}
<div id="events" class="bg-ivory-lighter | space-b space-t">
    <div class="container--sm gutter-md">

        {# Header #}
        <header class="section-header | mb-12 | md:flex-grid | items-center">
            <h6 class="header-base">Upcoming Events</h6>
            <a href="#" class="meta-label">
                <div class="align-items-center">
                    <div class="pr-3">See all Events</div>
                    {{ global.utilityIcon('arrow-right', '-xs') }}
                </div>
            </a>
        </header>

        {# Events List #}
        {% include '_components/list-events' with { content: latestEvents } %}

    </div>

</div>
{% endif %}

{# Donate #}
<div id="donate" class="space-b">
    {# Donate Billboard #} 
    {% include '_components/billboard--donate' %}
</div>


{% endblock %}