{% extends "_layouts/base" %} 
{% import '_macros/global' as global %} 

{# params #}
{% set searchQuery = craft.app.request.getParam('q') %}
{% set format = craft.app.request.getParam('format') %}
{% set topic = craft.app.request.getParam('topic') %}
{% set author = craft.app.request.getParam('author') %}

{# full lists for drop downs #}
{% set allSections = craft.sections.getAllSections() %}
{% set sections = [] %}
{% for section in allSections %}
    {% if section.type == 'channel' and section.handle != 'authors' %}
        {% set sections = sections|merge([section]) %}
    {% endif %}
{% endfor %}
{% set topics = craft.categories().group('topics').order('title asc').all() %}
{% set authors = craft.entries.section('authors').order('firstName asc').all() %}

{# apply sections #}
{% set sectionFilter = format ?: sections|join(',') %}

{# build out relationships #}
{% set topicCat = topic ? craft.categories.group('topics').id(topic).first %}
{% set authorCat = author ? craft.entries.section('authors').id(author).first %}
{% set topicParam = topicCat ? { targetElement: topicCat } %}
{% set authorParam = authorCat ? { targetElement: authorCat, field: 'authorLink' } %}
{% set relationParams = [topicParam, authorParam]|filter %}

{# entries query #}
{% set entries = craft.entries({
    search: searchQuery,
    section: sectionFilter,
    order: 'postDate desc',
    relatedTo: relationParams ? ['and']|merge(relationParams) : null
}) %}

{% set pageLimit = 5 %}
{% paginate entries.limit(pageLimit) as pageInfo, pageEntries %}

{% if pageInfo.nextUrl %}
    {% set nextUrl = url(pageInfo.nextUrl, {
        format: format,
        topic: topic,
        author: author,
        q: searchQuery 
    }) %}
{% endif %}

{# count #}
{% set count = entries|length %}

{% block content %}

    <section class="space-menu ">        
        <div class="space-b--sm">
            {# Search Form #}
            {% include "_components/form-search" %}
        </div>
        {# Filters #}
        {% include "_components/filters-page" %}
    </section>

    {# Topics List #}
    <div id="content" class="page-entries container--sm gutter-md | space-b">

        {% if pageEntries|length %}
            {% for entry in pageEntries %}
                {% include "_components/content-cards" with { content: entry } %}
            {% endfor %}
        {% else %}
            <p>Sorry, your search didn't match any results.</p>    
        {% endif %}
        
    </div>

    {% include "_components/pagination" %}

{% endblock %}
