{% extends "_layouts/base" %}
{% import '_macros/global' as global %}
{% set indexList = craft.entries.section('courses') %}

{% block content %}

    <section class="space-menu">

        {# Page Header #}
        {% include "_components/page-header" with { content: entry } %}

    </section>

    {# Topics List #}
    {% if indexList.count > 0 %}

        {# Card List #}
        <div id="courses" class="container--sm gutter-md | space-b">

            {# Content Card - Podcast #} 
            {% for entry in indexList.all() %}

                {# Content Cards - Switches based on Format #} 
                {% include '_components/content-cards' with { content: entry } %}
                
            {% endfor %}
            
        </div>
    
    {% else %}
        
        {# No Entries #}
        <div class="text-center space-b">
            There are no Courses available right now.  
        </div>

    {% endif %}
    
    {# Billboard #}
    {# {% if entry.showBillboardText %}
        
        <div id="advertise" class="">
            Billboard Content
            {% set billboardContent = { 
                    header: entry.billboardHeader,
                    description: entry.billboardDescription,
                    button: entry.billboardButton,
                    buttonStyle: entry.billboardButtonStyle,
                    background: entry.billboardBackground,
                }%}
            Text Billboard - text
            {% include '_components/billboard--text' with { classes: '-center', content: billboardContent } %}
        </div>

    {% endif %} #}

{% endblock %}
