{% extends "_layouts/_base" %}

{% block content %}
    <h1>
        {{ category.title }}
    </h1>

    <h2>Episodes</h2>
        
    {# Fetch all of the entries related to this category #}
    {% set section = craft.entries.section('podcasts') %}
    {% set entries = section.relatedTo(category).all() %}

    <ul>
        {% for entry in entries.all() %}
            <li>
                <a href="{{ entry.url }}">
                    {{ entry.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}