{% extends "_layouts/base" %}
{% import '_macros/global' as global %}
{% set indexList = craft.categories.group('podcastShows').level(1) %}

{% block content %}

    <section class="space-menu">
        {# Page Header #}
        {% set pageHeaderContent = { 
            title: entry.title, 
            detail: entry.shortDescription,
            action: entry.headerAction
            }
        %} 
        {% include "_components/page-header" with { content: pageHeaderContent } %}
    </section>

    {# Topics List #}
    {% if indexList.count > 0 %}
    
        <div id="podcasts" class="container--sm gutter-md | md:flex-grid | space-b--sm">
            {# Latest Cards #}
            <div class="flex-grid">
                
                {% for entry in indexList.all() %}
                    {# Content Card - Stacked #}
                    {% include '_components/content-card--basic' with { content: entry, imageSource: entry.cardImagePodcast, coverImage: true} %}
                {% endfor %}

            </div>
        </div>

    {% endif %}
    
    {# Billboard #}
    {% if entry.showBillboardText %}
        
        <div id="advertise" class="">
            {# Billboard Content #}
            {% set billboardContent = { 
                    header: entry.billboardHeader,
                    description: entry.billboardDescription,
                    button: entry.billboardButton,
                    buttonStyle: entry.billboardButtonStyle,
                    background: entry.billboardBackground,
                    image: false
                }%}
            {# Text Billboard - text #}
            {% include '_components/billboard--text' with { classes: '-center', content: billboardContent } %}
        </div>

    {% endif %}

    {# Notes:
    {% set group = craft.categories.group('podcastShows').level(1) %}

    <ul>
        {% for category in group.all() %}
            <li>
                <a href="{{ category.url }}">
                    {{ category.title }}
                </a>

            </li>
        {% endfor %}
    </ul> #}

    {% endblock %}
