{% extends "_layouts/base" %}
{% import '_macros/global' as global %}

{% set indexList = craft.entries.section('events') %}
{% set totalEvents = indexList|length %}

{% block content %}

    <section class="space-menu">
        {# Page Header #}
        {% set pageHeaderContent = { 
            title: entry.title, 
            detail: entry.shortDescription,
            action: entry.headerAction
            }
        %} 
        {% include "_components/page-header" with { content: pageHeaderContent } %}

    </section>

    {# Featured  #}
    <div id="featured" class="container | space-b--sm">
        {# Content Card - Hero #}
        {% include '_components/content-hero--event' with { content: entry.headerAction.entry, classes: '-red' } %}
    </div>

    {# Filters #}
    {# {% include "_components/filters-page--sections" %} #}

    {# Events List #}
    {% if totalEvents > 0 %}

        {% set numberBeforeBillboard = 3 %}
        {% set eventsBeforeBillboard = indexList | slice(0,numberBeforeBillboard) %}
        {% set eventsAfterBillboard = indexList | slice(numberBeforeBillboard,totalEvents) %}
        
        {# Card List #}
        <div id="events" class="container--sm gutter-md | space-b">
            
            {# Content Card - Podcast #} 
            {% for entry in eventsBeforeBillboard %}

                {# Content Cards #} 
                {% include '_components/content-card--event' with { content: entry } %}
                
            {% endfor %}
            
        </div>

    {# Billboard #}
    {% if entry.showBillboardText %}

        <div id="request-a-speaker" class="space-b">
            {# Text Billboard #}
            {% set billboardContent = { 
                header: entry.billboardHeader,
                description: entry.billboardDescription,
                button: entry.billboardButton,
                buttonStyle: entry.billboardButtonStyle,
                background: entry.billboardBackground,
                image: entry.image
            } %}
            {% include '_components/billboard--text' with { classes: '-image-left -bronze-light', content: billboardContent } %}
        </div>

    {% endif %}

        {# Card List #}
        <div id="events" class="container--sm gutter-md | space-b">
            
            {# Content Card - Podcast #} 
            {% for entry in eventsAfterBillboard %}

                {# Content Cards #} 
                {% include '_components/content-card--event' with { content: entry } %}
                
            {% endfor %}
            
        </div>

    {% else %}
        
        {# No Entries #}
        <div class="text-center space-b">
            There are no Events available right now.  
        </div>

    {% endif %}

{% endblock %}
